/*This is how we comment things in css*/
@import url(reset.css);

/*
Get into the practice of setting up your golbal syles. This will allow you to keep things organized.
*/

h1,h2,h3,h4,h5,h6 {}

p {}

.red {
  color:rgb(255,0,0);
}

.blue {
  color:rgb(0,0,255);
}

.green{
  color:rgb(128, 255, 0)
}